@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorTask2.Data.ApplicationDbContext DB
@using BlazorTask2.Components

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>


<div class="container">
    <div>
        <QuickGrid Class="table" Items="SortedMovies">
            <PropertyColumn Property="movie => movie.Title" Sortable="true" />@* 
            <PropertyColumn Property="movie => movie.Description" Sortable="true" /> *@
            <PropertyColumn Property="movie => movie.ReleaseDate" Format="dd-MM-yyyy" Sortable="true" />
            <PropertyColumn Property="movie => movie.AverageRate" Sortable="true" />
            
            <TemplateColumn Context="movie">
                <a href="@($"movies/details?id={movie.Id}")">Details</a>
                <AuthorizeView>
                    <Authorized>
                        | <a href="@($"movies/edit?id={movie.Id}")"> Edit</a> |
                        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
                    </Authorized>   
                </AuthorizeView>               
            </TemplateColumn>      
        </QuickGrid>
    </div>    
</div>


@code{
    private IQueryable<Movie> SortedMovies = Enumerable.Empty<Movie>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        SortedMovies = DB.Movie;
        await base.OnInitializedAsync();
    }

    private void SortMovies()
    {
        SortedMovies = SortedMovies.OrderBy(m => m.Title);
    }

}
